<web-app id="WebApp_ID"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<servlet>
		<servlet-name>CloudTestServlet</servlet-name>
		<servlet-class>com.unibeta.cloudtest.servlet.CloudTestServlet</servlet-class>
		<init-param>
			<param-name>CLOUDTEST_HOME$PathProvider</param-name>
			<param-value>com.unibeta.cloudtest.config.impl.CLOUDTEST_HOME$PathProviderImpl</param-value>
		</init-param>
		<init-param>
			<param-name>ROOT_FOLDER_NAME</param-name>
			<param-value>cloudtest</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
</web-app>